.increment-villain, .decrement-villain, .villain-count {
  font-family: Impact;
}

.villain-count {
  color: red;
}

.top-edit-tool {
  color: #FFDC00;
  letter-spacing: 2px;
  text-decoration: underline;
}

.top-edit-tool:hover {
  color: blue;
  cursor: pointer;
}

.villain-adjust-label {
  color: white;
  letter-spacing: 2px;
}

.top-edit-btn {
  border-radius: 50%;
}

.cam-icon {
  color: #FFDC00;
  font-size: 30px;
}

.refresh-icon {
  color: #0074D9;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {

}
