.my-modal-card {
  width: 60px;
  height: auto;
  transition-duration: 0.2s;
}

.my-modal-card:hover {
  cursor: pointer;
}

.highlight, .default {
  display: inline-block;
}

.highlight {
  display: inline-block;
  border: 3px solid lime;
  /*transform: scale(1.1);*/
}


@media only screen and (min-width: 1024px) {
  .my-modal-card:hover {
    transform: scale(1.2)
  }
}
