.my-modal-card {
  width: 60px;
  height: auto;
  transition-duration: 0.2s;
}

.my-modal-card:hover {
  cursor: pointer;
}

.highlight, .default {
  display: inline-block;
}

.highlight {
  display: inline-block;
  box-shadow: 0.5px 0.5px 1px 2px #FFDC00;
  transform: scale(1.1);
}


@media only screen and (min-width: 1024px) {
  .my-modal-card:hover {
    transform: scale(1.1)
  }
}
