body {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  overflow-x: hidden;
}

.black {
  color: black;
}

.suit {
  font-size: 30px;
  display: inline-block;
  margin: 7px;
}

.suit:hover {
  background-color: lightblue;
  cursor: pointer;
}

.board-card {
  height: 120px;
  width: auto;
}

.holdings-container:hover {
  cursor: pointer;
  transition-duration: 0.2s;
}

.player-title {
  color: white;
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 2px 2px 3px black;
}

.player-pos-stack {
  color: lime;
  font-family: Impact;
  margin-bottom: 1px;
}

.position-stack-edit:hover {
  cursor: pointer;
}

.board-title {
  color: white;
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 2px 2px 3px black;
}

.hand-title {
  color: #FF851B;
  text-shadow: 1px 2px 2px 3px black;
}

.notes {
  color: #FF851B;
  margin-top: 2px;
  margin-right: 10px;
}

.form-label {
  font-family: cursive;
}

.notes-label {
  color: #FFDC00;
  margin-right: 10px;
  margin-bottom: 2px;
}

.edit-link {
  display: inline-block;
  text-decoration: underline;
  font-family: Impact;
  color: #FFDC00;
  letter-spacing: 1px;
}

.edit-link:hover {
  cursor:pointer;
  color: blue;
}

.position-stack-edit {
  color: #001f3f;
  border-radius: 50%;
  background: #FFDC00;
  padding: 5px;
}

.hide {
  display: none;
}

.select-notes-input {
  margin: 0 auto;
  width: 50%;
}

@media only screen and (min-width: 1024px) {
  .holdings-container:hover {
    transform: scale(1.2)
  }
}

@media only screen and (max-width: 1024px) {
  .board-card {
    height: 75px;
  }

  .select-notes-input {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .board-card {
    height: 60px;
  }

  .select-notes-input {
    width: 75%;
  }
}
