.red {
  color: red;
}

.black {
  color: black;
}

.suit {
  font-size: 30px;
  display: inline-block;
  margin: 7px;
}

.suit:hover {
  background-color: lightblue;
  cursor: pointer;
}


.hero-hand {
  height: 120px;
  width: auto;
}

.board-card {
  height: 120px;
  width: auto;
  transition-duration: 0.2s;
}

.board-card:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.my-modal-card {
  width: 50px;
  height: auto;
  transition-duration: 0.2s;
}

.my-modal-card:hover {
  transform: scale(1.2);
  cursor: pointer;
}
